{% extends "layout.njk" %}
{% from "macros/columns.njk" import twoThirds %}

{% block content %}
  {% call twoThirds() %}
    <h1 class="govuk-heading-l">{{ heading }}</h1>
    <p class="govuk-body">This is an example service, not a live government service. It is built with the GOV.UK Design System and GOV.UK Frontend so pages can be used with a keyboard, screen reader, and without JavaScript.</p>
    <p class="govuk-body">Using this example does not replace an accessibility audit or an accessibility statement for a real service.</p>
    <p class="govuk-body"><a class="govuk-link" href="https://design-system.service.gov.uk/accessibility/">Read about accessibility in the GOV.UK Design System</a>.</p>
  {% endcall %}
{% endblock %}
