{% extends "layout.njk" %}
{% from "macros/form.njk" import formPage %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {% call formPage(errorSummary, csrf, returnTo) %}
    {{ govukInsetText(inset) }}
    {% call govukFieldset(fieldset) %}
      {{ govukInput(line1) }}
      {{ govukInput(line2) }}
      {{ govukInput(town) }}
      {{ govukInput(postcode) }}
    {% endcall %}
    {{ govukButton({ text: "Continue" }) }}
  {% endcall %}
{% endblock %}
