{% extends "layout.njk" %}
{% from "macros/form.njk" import formPage %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {% call formPage(errorSummary, csrf) %}
    <h1 class="govuk-heading-l">{{ heading }}</h1>
    {{ govukSummaryList({ rows: rows }) }}
    {{ govukButton({ text: "Accept and continue" }) }}
  {% endcall %}
{% endblock %}
