{% extends "layout.njk" %}
{% from "macros/columns.njk" import twoThirds %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  {% call twoThirds() %}
    {{ govukPanel(panel) }}
    <p class="govuk-body">This is a fictional example. Nobody will send you a fishing rod licence.</p>
    <p class="govuk-body"><a class="govuk-link" href="/components">Back to the component list</a></p>
  {% endcall %}
{% endblock %}
