{% extends "layout.njk" %}
{% from "macros/form.njk" import formPage %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {% call formPage(errorSummary, csrf, returnTo) %}
    {{ govukRadios(radios) }}
    {{ govukButton({ text: "Continue" }) }}
  {% endcall %}
{% endblock %}
