{% extends "layout.njk" %}
{% from "macros/form.njk" import formPage %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if notice %}
        {{ govukNotificationBanner(notice) }}
      {% endif %}
    </div>
  </div>
  {% call formPage(errorSummary, csrf) %}
    {{ govukRadios(radios) }}
    {{ govukButton({ text: "Save cookie settings" }) }}
  {% endcall %}
{% endblock %}
