{% extends "layout.njk" %}
{% from "macros/form.njk" import formPage %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {% call formPage(errorSummary, csrf, returnTo) %}
    {{ govukPasswordInput(password) }}
    {{ govukPasswordInput(confirm) }}
    {{ govukButton({ text: "Continue" }) }}
  {% endcall %}
{% endblock %}
