{% extends "layout.njk" %}
{% from "macros/form.njk" import formPage %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {% call formPage(errorSummary, csrf, returnTo) %}
    {{ govukInput(email) }}
    {{ govukButton({ text: "Continue" }) }}
  {% endcall %}
{% endblock %}
