{% extends "layout.njk" %}
{% from "macros/form.njk" import formPage %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {% call formPage(errorSummary, csrf, returnTo, "multipart/form-data") %}
    {% if currentFile %}
      <p class="govuk-body">Current file: {{ currentFile }}</p>
    {% endif %}
    {{ govukFileUpload(upload) }}
    {{ govukButton({ text: "Continue" }) }}
  {% endcall %}
{% endblock %}
