{% extends "layout.njk" %}
{% from "macros/columns.njk" import twoThirds %}

{% block content %}
  {% call twoThirds() %}
    <h1 class="govuk-heading-l">{{ heading }}</h1>
    <p class="govuk-body">These pages show GOV.UK patterns that are not steps in the rod licence application.</p>
    <ul class="govuk-list">
      <li><a class="govuk-link" href="/examples/exit-this-page">Exit this page</a></li>
      <li><a class="govuk-link" href="/examples/problem-with-the-service">There is a problem with the service</a></li>
      <li><a class="govuk-link" href="/examples/service-unavailable">Service unavailable</a></li>
      <li><a class="govuk-link" href="/this-page-does-not-exist">Page not found</a></li>
    </ul>
  {% endcall %}
{% endblock %}
