{% extends "layout.njk" %}
{% from "macros/columns.njk" import twoThirds %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{% block content %}
  {% call twoThirds() %}
    <h1 class="govuk-heading-l">{{ heading }}</h1>
    <p class="govuk-body">Help for this example service.</p>
    {{ govukAccordion(accordion) }}
  {% endcall %}
{% endblock %}
