{% extends "layout.njk" %}
{% from "macros/form.njk" import formPage %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {% call formPage(errorSummary, csrf, returnTo) %}
    {{ govukSelect(select) }}
    {{ govukButton({ text: "Continue" }) }}
  {% endcall %}
{% endblock %}
