{% extends "layout.njk" %}
{% from "macros/form.njk" import formPage %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {% call formPage(errorSummary, csrf, returnTo) %}
    {{ govukCheckboxes(checkboxes) }}
    {{ govukButton({ text: "Continue" }) }}
  {% endcall %}
{% endblock %}
