{% extends "govuk/template.njk" %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "govuk/components/feedback/macro.njk" import govukFeedback %}
{% from "govuk/components/exit-this-page/macro.njk" import govukExitThisPage %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block pageTitle %}{{ pageTitle }}{% endblock %}

{% block govukHeader %}
  {{ govukHeader({ homepageUrl: "/" }) }}
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ stylesheetHref }}">
  <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block bodyStart %}
  {% if exitThisPage %}
    {{ govukExitThisPage(exitThisPage) }}
  {% endif %}
{% endblock %}

{% block skipLink %}
  {{ govukSkipLink({ href: "#main-content", text: skipLinkText }) }}
  {% if cookieBanner %}
    <form method="post" action="/cookie-choices" novalidate>
      <input type="hidden" name="csrf" value="{{ csrf }}">
      <input type="hidden" name="returnPath" value="{{ returnPath }}">
      {{ govukCookieBanner(cookieBanner) }}
    </form>
  {% endif %}
{% endblock %}

{% block govukServiceNavigation %}
  {{ govukServiceNavigation(serviceNavigation) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner(phaseBanner) }}
  {% if backLink %}
    {{ govukBackLink(backLink) }}
  {% elif breadcrumbs %}
    {{ govukBreadcrumbs(breadcrumbs) }}
  {% endif %}
{% endblock %}

{% block main %}
  <main class="govuk-main-wrapper{%- if mainClasses %} {{ mainClasses }}{% endif %}" id="main-content"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
    {{ govukNotificationBanner(demoBanner) }}
    {% block content %}{% endblock %}
  </main>
{% endblock %}

{% block footer %}
  {% if showFeedback %}
    {{ govukFeedback(feedback) }}
  {% endif %}
  {{ super() }}
{% endblock %}

{% block govukFooter %}
  {{ govukFooter(footer) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ appModuleHref }}"></script>
{% endblock %}
